.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.7;
    z-index: 1000;
  }
  
  .scroll-to-top:hover {
    opacity: 1;
    transform: translateY(-3px);
  }
  
  .scroll-to-top i {
    font-size: 1.2rem;
  }